h1 {
  text-align: left; }

img {
  margin-top: 4px; }

body {
  background-color: #EFEFEF; }

.container {
  font-family: Ubuntu, sans-serif;
  background-color: #EFEFEF;
  padding: 16px; }

.header {
  padding-top: 8px; }

.contact {
  color: #000000; }

.calltoaction {
  text-align: center;
  color: #000078; }

.slider .slides {
  background-color: white; }

a {
  color: #0000FF; }

footer {
  text-align: center; }

a:hover {
  font-style: italic; }
